
  <link rel="stylesheet" type="text/css" href="/css/css3.css"/>
<script type="text/javascript">
console.log(<%= @game.id %>)
console.log(<%= @game.player1_id%>)
console.log(<%= @game.player2_id%>)
//Global Variables
var painted;
var content;
var winningCombinations;
var turn = 0;
var theCanvas;
var c;
var cxt;
var squaresFilled = 0;
var w;
var y;
var player1=(<%= @game.player1_id%>);
var player2=(<%= @game.player2_id%>);
var current_player = <%= session[:id] %>;

debugger

//Instanciate Arrays
window.onload=function(){

  painted = new Array();
  content = new Array();
  winningCombinations = [[0,1,2],[3,4,5],[6,7,8],[0,3,6],[1,4,7],[2,5,8],[0,4,8],[2,4,6]];

  for(var l = 0; l <= 8; l++){
  painted[l] = false;
  content[l]='';
  }
}

//Game methods
function canvasClicked(canvasNumber){
  theCanvas = "canvas"+canvasNumber;
  c = document.getElementById(theCanvas);
  cxt = c.getContext("2d");
  //create "X" on board
  if(painted[canvasNumber-1] ==false){
    if(turn%2==0){
      cxt.beginPath();
      cxt.moveTo(10,10);
      cxt.lineTo(90,90);
      cxt.moveTo(90,10);
      cxt.lineTo(10,90);
      cxt.stroke();
      cxt.closePath();
      content[canvasNumber-1] = "X";


    }
    //create "O" on board
    else{
      cxt.beginPath();
      cxt.arc(50,50,40,0,Math.PI*2,true);
      cxt.stroke();
      cxt.closePath();
      content[canvasNumber-1] = "O";

    }

    turn++;
    painted[canvasNumber-1] = true;
    squaresFilled++;
    currentPlayer(content[canvasNumber-1])
    checkForWinners(content[canvasNumber-1]);

    //remind the game is
    if(squaresFilled==9){
      alert("THE GAME IS OVER!");
      location.reload(true);
    }

  }
  else{
    alert("THAT SPACE IS ALREADY OCCUPIED WITH YOUR HEART!");
  }
}

// function currentPlayer(symbol){
//   if (symbol = 'X'){
//     current_player = player1
//   }else{
//     current_player = player2
//   }
// };

//player 1 turn
//when player 1 is play, player 2 cant play
//player 1 ajax post, player 2 ajax sync timeout 100ms
function playturn(){
  if(current_player){
    $.ajax({
      type: "POST",
      url: "/game/<%= @game.id %>",
      data: data,
      success: success,


    });
  }
}

function checkForWinners(symbol){

  for(var a = 0; a < winningCombinations.length; a++){
  if(content[winningCombinations[a][0]]==symbol&&content[winningCombinations[a][1]]== symbol&&content[winningCombinations[a][2]]==symbol){
    alert(symbol+ " WON!");
    playAgain();
  }
  }

}

function playAgain(){
  y=confirm("PLAY AGAIN?");
  if(y==true){
    alert("OKAY! ^^/>");
    location.reload(true);
  }
  else{
    alert("SO LONG,SUCKER!");
}

}
</script>


<body>
<div class="container">
  <div id ="box">

    <h1>Welcome!!! </h1><h2><img src="http://dubaruba.com/wp-content/uploads/2014/05/web-banner-logo-sm.png"></h2><h3>Challenge me if you dare!!!</h3>

    <canvas id="canvas1" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(1)">
    </canvas>
    <canvas id="canvas2" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(2)">
    </canvas>
    <canvas id="canvas3" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(3)">
    </canvas>
    <br>

    <canvas id="canvas4" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(4)">
    </canvas>
    <canvas id="canvas5" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(5)">
    </canvas>
    <canvas id="canvas6" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(6)">
    </canvas>
    <br>

    <canvas id="canvas7" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(7)">
    </canvas>
    <canvas id="canvas8" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(8)">
    </canvas>
    <canvas id="canvas9" width=100 height=100 style="border:3px solid black" onclick="canvasClicked(9)">
    </canvas>
  </div>
</div>
